[Unit]
Description=OsuLETSServer
After=network.target

[Service]
Type=simple
ExecStart=/bin/sh -c 'cd /root/minase/LETS && /usr/bin/python3 lets.py'
Restart=always
